#footer-subscribe {
  position: absolute;
  right: -10px;
  top: 5px;
  padding: 10px 0 0;
  width: 380px;
}
#block-follow-site {
  width: 200px;
}
#region-branding #block-block-2 {
  width: 200px;
}
.logo-img {
  float: left;
  text-align:left;
  margin-right: 20px;
}
.site-name-slogan .site-name {
  font-size: 8em;
}
.site-name-slogan {
  float: left;
  text-align: left;
}
/* show navigation that was hidden for mobile. */
#region-menu {
  display: block;
}

#stay-connected h3 {
  padding: 15px;
  border-bottom: 1px solid #2388af;
  font-size: 2em;
  
  float: none;
  margin-bottom: 10px;
}
#stay-connected ul {
  padding: 15px;
  padding-top: 0;
  float: none;
}

.footer-utility li,
.footer-nav ul.menu li {
  float: left;
  margin: 0 10px 15px 0;
  font-family: Arial,sans-serif;
  font-size: 1.083em;
  letter-spacing: 0.02em;
  text-shadow:0 2px 2px rgba(0,0,0,0.6);
  text-transform: uppercase;
  list-style: none;
  list-style-image: none;
  font-weight: bold;
}

.footer-nav ul.menu li li {
	float: none;
	margin-right: 0px;
	font-weight: normal;
	width: 115px;
	font-family: Arial,sans-serif;
	font-size: .9em;
	letter-spacing: 0.02em;
	margin: 10px 15px 10px 0;
	margin-bottom: 0px;
	text-shadow: none;
	text-transform: none;
}

#footer-utility {
  float: right;
  padding: 20px 0 0;
  text-align: left;
  margin-bottom: 20px;
}
#footer-utility li {
  font-family: Arial,sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
  padding-top: 0;
  text-transform: uppercase;
  float:none;
  display: block;
}

#navigation {
  overflow: hidden;
  position: relative;
}

.navigation ul {
	/*height: 50px;*/
	position: relative;
	display: block;
	margin: 0;
}
.navigation ul li {
  float: left;
  font-size: 1.25em;
  font-weight: 700;
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: auto;
}

/******* Drop-down Navigation ******/

.navigation li ul {
	background: #FFF;
	margin: 0;
	padding: 5px;
	width: 200px;
	height: auto;
	position: absolute;
	left: -999em;
	z-index: 1000;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.8);
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.navigation ul li:hover > ul {
	display: block;
	left: 0;
}

.navigation li ul li {
	float: none;
	margin: 0;
	padding: 0;
	text-transform: none;
	font-weight: 400;
	font-size: 12px;
	list-style-image: none;
}

.navigation li ul li a,
.navigation li.active-trail ul li a,
.navigation li:hover ul li a {
	text-align: left;
	background: url(../img/sprite.png) repeat-x 0 -490px;
	color: #484848;
	display: block;
	padding: 9px 16px 9px 16px;
	border: none;
}

.navigation li ul li a:hover,
.navigation li.active-trail ul li a.active {
	background: #3fa3ca url(../img/sprite.png) repeat-x 0 -543px;
	color: #FFF;
	padding: 9px 16px 9px 16px;
	border: none;
}
